<header>
	<h1>Hilfe und Infos</h1>
	<pt-button [inverted]="true" (btnClicked)="close()">
		<fa-icon [icon]="faIconClose"></fa-icon>
	</pt-button>
</header>
<div class="help-and-info-page-wrapper">
	<h3>
		Pointtracker <span>Version: {{ appVersion }}</span>
	</h3>
	<hr />
	<p class="info">
		Zählapp um Punkte beim Stocksport zu zählen. Diese App wird weiter ausgebaut. Anregungen und Kommentare gerne per E-Mail an <a href="mailt:fb@sideshow-systems.de">fb@sideshow-systems.de</a>
	</p>
	<hr />
	<p>Made with ❤️ by F. Binder</p>
	<br />
	<pt-button (btnClicked)="close()">Schließen</pt-button>
</div>