@import '../../../../../assets/styles/styles';

:host {
	.btn-wrapper {
		font-size: 1.4rem;
		padding: 0.7rem 1rem;
		border-radius: 8px;

		&.inverted {
			border: 1px solid $brightest;
			color: $brightest;
			background: rgba($brightest, 0.1);
		}

		fa-icon {
			&.icon-left {
				margin-right: 0.5rem;
			}
			&.icon-right {
				margin-left: 0.5rem;
			}
		}
	}
}