@import '../../../../../assets/styles/styles';

:host {
	.lap-status-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $primary;
		padding: 12px 10px;

		h3 {
			font-size: 1.6rem;
			margin: 0px;
			margin-left: 4px;
			color: $brightest;
		}

		.lap-indicators-wrapper {
			pt-lap-indicator {
				margin-left: 4px;
			}
		}
	}
}