@import '../../../../../assets/styles/styles';

:host {
	.stats-item-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.6rem;

		.title-box {
			font-weight: bold;
			width: 11rem;
			text-align: right;
			margin-right: 2rem;

			fa-icon {
				color: $success;
				opacity: 0.5;
			}
		}

		.divider-box {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			text-align: center;
		}

		.result-box {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 10rem;

			.result-divider {
				width: 2rem;
				text-align: center;
			}

			.result-party {
				width: 2.5rem;
				text-align: right;
				padding: 0.2rem;
				padding-left: 0;
				padding-right: 0.5rem;

				&.result-wide {
					text-align: left;
					padding-left: 0.5rem;
					padding-right: 0;
				}

				&.scored {
					border-radius: 0.5rem;
				}

				&.result-narrow.scored {
					background-color: rgba($ccNarrow, 0.3);
				}

				&.result-wide.scored {
					background-color: rgba($ccWide, 0.3);
				}
			}
		}
	}
}