<div class="lap-point-counter-wrapper">
	<h3>Punkte in Durchgang <span>{{ (lap$ | async)?.lapNumber }}</span> für</h3>

	<div class="team-btns-wrapper">
		<div class="btn btn-left">
			<pt-button [inactive]="false">ENG</pt-button>
		</div>
		<div class="btn btn-right">
			<pt-button [inactive]="true">WEIT</pt-button>
		</div>
		<fa-icon [icon]="faIconNext"></fa-icon>
		<div class="lap-points">3</div>
	</div>

	<div class="point-controls-wrapper">
		<pt-button [inverted]="false">0</pt-button>
		<pt-button [inverted]="false">3</pt-button>
		<pt-button [inverted]="false">5</pt-button>
		<pt-button [inverted]="false">7</pt-button>
		<pt-button [inverted]="false">9</pt-button>
		<div class="divider"></div>
		<pt-button class="btn-decrease" [inverted]="false" [faIcon]="faIconMinus" [showIcon]="true"></pt-button>
		<pt-button class="btn-increase" [inverted]="false" [faIcon]="faIconPlus" [showIcon]="true"></pt-button>
	</div>

	<div class="lap-controls-wrapper">
		<pt-button
			(btnClicked)="btnPrevClicked()"
			class="btn-prev"
			[disabled]="btnPrevDisabled"
			[inverted]="false"
			[faIcon]="faIconPrev"
			[showIcon]="true"
		>
			{{ btnPrevLabel }}
		</pt-button>
		<pt-button
			(btnClicked)="btnNextClicked()"
			class="btn-next"
			[disabled]="btnNextDisabled"
			[inverted]="false"
			[faIcon]="faIconNext"
			[showIcon]="true"
			[iconOnRightSide]="true"
		>
		{{ btnNextLabel }}
		</pt-button>
	</div>
</div>