<div class="lap-point-counter-wrapper" [ngClass]="scoreTeam == teamInterface.NARROW ? teamInterface.NARROW : teamInterface.WIDE">
	<h3>Punkte in Durchgang <strong>{{ (lap$ | async)?.lapNumber }}</strong> für</h3>

	<div class="team-btns-wrapper">
		<div class="btn btn-left">
			<pt-button (btnClicked)="changeTeam(team.NARROW)" [inactive]="scoreTeam !== team.NARROW">ENG</pt-button>
		</div>
		<div class="btn btn-right">
			<pt-button (btnClicked)="changeTeam(team.WIDE)" [inactive]="scoreTeam !== team.WIDE">WEIT</pt-button>
		</div>
		<fa-icon [icon]="faIconNext"></fa-icon>
		<div class="lap-points">{{ lapPoints }}</div>
	</div>

	<div class="point-controls-wrapper">
		<pt-button (btnClicked)="setLapPoints(0)" [inverted]="false">0</pt-button>
		<pt-button (btnClicked)="setLapPoints(3)" [inverted]="false">3</pt-button>
		<pt-button (btnClicked)="setLapPoints(5)" [inverted]="false">5</pt-button>
		<pt-button (btnClicked)="setLapPoints(7)" [inverted]="false">7</pt-button>
		<pt-button (btnClicked)="setLapPoints(9)" [inverted]="false">9</pt-button>
		<div class="divider"></div>
		<pt-button (btnClicked)="decreaseLapPoints()" class="btn-decrease" [inverted]="false" [faIcon]="faIconMinus" [showIcon]="true"></pt-button>
		<pt-button (btnClicked)="increaseLapPoints()" class="btn-increase" [inverted]="false" [faIcon]="faIconPlus" [showIcon]="true"></pt-button>
	</div>

	<div class="lap-controls-wrapper">
		<pt-button
			(btnClicked)="btnPrevClicked()"
			class="btn-prev"
			[disabled]="btnPrevDisabled"
			[inverted]="false"
			[faIcon]="faIconPrev"
			[showIcon]="true"
		>
			{{ btnPrevLabel }}
		</pt-button>
		<pt-button
			(btnClicked)="btnNextClicked()"
			class="btn-next"
			[disabled]="btnNextDisabled"
			[inverted]="false"
			[faIcon]="faIconNext"
			[showIcon]="true"
			[iconOnRightSide]="true"
		>
		{{ btnNextLabel }}
		</pt-button>
	</div>
</div>