@import '../../../../../assets/styles/styles';

:host {
	.footer-controls-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $primary;
		padding: 1.2rem 1rem 2rem 1rem;
		color: $brightest;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;

		pt-button {
			&.btn-prev {
				margin-right: 0.5rem;
			}
		}

		.end {
			display: flex;

			pt-button {
				margin-left: 1rem;
			}
		}

	}
}