/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

@import './assets/styles/normalize';
@import './assets/styles/font';

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: $font-family-default;

	// Prevent pull to refresh on PWA
	overscroll-behavior-y: contain;
}

html {
	font-size: 62.5%;
}

p {
	font-size: $font-size-default;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
