// Fonts

// Roboto font from Google CDN
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap');

// Default font family
$font-family-default: 'Roboto', sans-serif;

// Condensed font family
$font-family-condensed: 'Roboto Condensed', sans-serif;

// Default font size
$font-size-default: 1.6rem;

// Footer font size
$font-size-footer: 1.1rem;

// Font size for default headlines
$font-size-default-headline: 2rem;

// Font size for default sublines
$font-size-default-subline: 2.8rem;

// Font size input field validation messages
$font-size-validation: 1.2rem;