<div class="wrapper">
	<button (click)="vote(votes.VERYBAD)" [class.is-active]="isActive(votes.VERYBAD)"><fa-icon [icon]="faIconVeryBad"></fa-icon></button>
	<button (click)="vote(votes.BAD)" [class.is-active]="isActive(votes.BAD)"><fa-icon [icon]="faIconBad"></fa-icon></button>
	<button (click)="vote(votes.NEUTRAL)" [class.is-active]="isActive(votes.NEUTRAL)"><fa-icon [icon]="faIconEven"></fa-icon></button>
	<button (click)="vote(votes.GOOD)" [class.is-active]="isActive(votes.GOOD)"><fa-icon [icon]="faIconGood"></fa-icon></button>
	<button (click)="vote(votes.VERYGOOD)" [class.is-active]="isActive(votes.VERYGOOD)"><fa-icon [icon]="faIconVeryGood"></fa-icon></button>
</div>