@import '../../../assets/styles/styles';

:host {
	button {
		font-size: 1.4rem;
		padding: 0.7rem 1rem;
		border-radius: 8px;
		background-color: $primary;
		border: 1px solid darken($primary, 10%);
		color: $brightest;
		width: 100%;
	}
}